[submodule "ksat-common"]
	path = ksat-common
	url = https://github.com/manfredscheucher/ksat-common.git
[submodule "solver/microsat/microsat-kotlin"]
	path = solver/microsat/microsat-kotlin
	url = https://github.com/manfredscheucher/microsat-kotlin.git
[submodule "solver/minisat/minisat-kotlin"]
	path = solver/minisat/minisat-kotlin
	url = https://github.com/manfredscheucher/minisat-kotlin.git
[submodule "solver/cadical/cadical-kotlin"]
	path = solver/cadical/cadical-kotlin
	url = https://github.com/manfredscheucher/cadical-kotlin.git
[submodule "solver/kissat/kissat-kotlin"]
	path = solver/kissat/kissat-kotlin
	url = https://github.com/manfredscheucher/kissat-kotlin.git
